* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.button-group {
  margin-top: 30px; 
  margin-bottom: 20px; 
}

.action-button {
  margin-right: 10px; 
}

.fixed-layout {
  height: 100vh;
}

.fixed-layout-content {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 64px);
  overflow-y: auto; 
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-email {
  margin-right: 10px;
  font-weight: bold;
}

.logout-button {
  margin-left: 10px;
}

.fixed-layout-footer {
  text-align: center;
  background-color: #fff;
  padding: 12px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Added bottom shadow */
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #ff9a9e 0%, #fecfef 100%);
}

.signup-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  margin-top: 20px; /* Adjusted margin for better spacing */
}

.signup-form h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.signup-form .ant-input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.signup-form .ant-input-password {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.signup-form .ant-btn-primary {
  width: 100%;
  padding: 12px;
  background-color: #ff7e67;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.signup-form .ant-btn-primary:hover {
  background-color: #ff4a33;
  transform: scale(1.05);
}

.signup-form .ant-btn-link {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.signup-form .ant-btn-link:hover {
  color: #0056b3;
}

.signup-form p {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.ant-form-item {
  margin-bottom: 15px;
}

.ant-form-item:last-child {
  margin-bottom: 0;
}

.site-layout-content{
  margin-top: 100px; 
}

.scrollable-content{
  margin: 40px;
}
